[submodule "Vendor/Quick"]
	path = Vendor/Quick
	url = git@github.com:Quick/Quick.git
[submodule "Vendor/Alamofire"]
	path = Vendor/Alamofire
	url = git@github.com:Alamofire/Alamofire.git
[submodule "Vendor/SwiftyJSON"]
	path = Vendor/SwiftyJSON
	url = git@github.com:SwiftyJSON/SwiftyJSON.git
[submodule "Vendor/HanakeSwift"]
	path = Vendor/HanakeSwift
	url = git@github.com:Haneke/HanekeSwift.git
[submodule "Vendor/swift-async"]
	path = Vendor/swift-async
	url = git@github.com:OliverLetterer/swift-async.git
[submodule "Swifter"]
	path = Swifter
	url = https://github.com/mattdonnelly/Swifter.git
[submodule "Vendor/Swifter"]
	path = Vendor/Swifter
	url = https://github.com/mattdonnelly/Swifter.git
[submodule "Vendor/JHProgressHUD"]
	path = Vendor/JHProgressHUD
	url = git@github.com:harikrishnant1991/JHProgressHUD.git
